html,
body {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  color: #102A43;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn--primary {
  background-color: #186FAF;
  color: #DCEEFB;
  border: none;
  font-family: inherit;
  padding: 0.5rem 1rem;
  border-radius: 0.6rem;
  cursor: pointer;
}

.btn--primary:hover {
  background-color: #4098D7;
  color: #003E6B;
}
