.backgroundImage {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.title {
    margin: 0;
    padding-top: 3rem;
    text-align: center;
    color: #B6E0FE;

}

.quizContainer {
    margin: 1.5rem auto;
    padding: 1rem 1.5rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(220,238,251, 0.8);
    border-radius: 0.6rem;
}

.score {
    color: #186FAF;
    font-weight: bold;
    margin: 0;
    font-size: 1.2rem;
}

@media (min-width: 40rem) {
    .quizContainer {
        max-width: 31rem;
    }
}
